img.nav-img {
        border: 10px solid darkblue;
        border-radius: 10px;
        max-height: 250px;
        max-width: 250px;
        background: white;
    }

    /*div.large-nav {
        border: 3px solid blue;

    }*/

    h1 {
        /*color: pink;*/
        font-family: 'Averia Serif Libre', cursive;
        font-size: 4em
    }

    h2 {
        font-family: 'Averia Serif Libre', cursive;
    }

    div.header {
        /*padding: 2em;*/
    }

    div.middle-nav {
        background: lightgrey;
        padding: 3em;
        margin: 2em;
        border-radius: 10px;
    }

    div.blurb {
        font-size: 1.5em;
        font-family: 'Averia Serif Libre', cursive;
    }

    body {
        padding-bottom: 3em;
        font-family: 'Averia Serif Libre', cursive;
        font-size: 1.5em;
    }

    div.connect div.connect-block {
        border: 2px solid blue;
    }

    div.connect div div {
        background: lightblue;
        padding: 1em;
    }

    div.connect div div:first-child {
        /*background: yellow;*/
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    div.connect div div:last-child {
        /*background: yellow;*/
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    div.connect div div img {
        max-width: 50px
    }