img.nav-img {
        border: 10px solid #3E877D;
        border-radius: 10px;
        /*max-height: 250px;*/
        /*max-width: 250px;*/
        background: white;
        padding: 1em;
}

/*div.large-nav {
    border: 3px solid blue;

}*/

div.large-nav a  {
    padding: .5em;
    text-decoration: none
}

div.large-nav a h2 {
    padding: .5em;
    border-radius: .5em
}


div.large-nav a:hover h2 {
    background-color: white;
    color: #CD3C9B;
}

div.large-nav a:hover img {
    border: 10px solid #CD3C9B;
}

div.connect-item a {
    padding: 1.5em;
}

div.connect-item a:hover {
    background-color: white;
    border-radius: 5px;
    color: #133C57;
    text-decoration: none;
}

h1 {
    color: #CD3C9B;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 4em
}

h2 {
    font-family: 'Averia Serif Libre', cursive;
    color: #3E877D;
}

h3 {
    color: #00B5AA;
}

p {
    font-size: 1.3em;
}

li {
    font-size: 1.3em;
}

.navbar-default {
    background: #3E877D;
    box-shadow: none;
    color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
    text-decoration: underline;
}

div.header {
    /*padding: 2em;*/
}

div.middle-nav {
    background: #6eded7;
    padding: 3em;
    margin: 2em;
    border-radius: 10px;
}

div.blurb {
    font-size: 1.5em;
    font-family: 'Averia Serif Libre', cursive;
}

body {
    padding-bottom: 3em;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.5em;
    color: #133C57;
}

div.connect div.connect-block {
    border: 2px solid #133C57;
}

div.connect div div {
    background: #00B5AA;
    padding: 1em;
    color: #FFF;
}

div.connect img {
    background: #FFF;
    border-radius: 5px;
    margin-right: 10px;
    border-width: 0px;
}

div.connect div div:first-child {
    /*background: yellow;*/
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

div.connect div div:last-child {
    /*background: yellow;*/
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

div.connect div div img {
    max-width: 50px
}

div.connect a {
    color: #FFF;
}

div.footer {
    padding-bottom: 0em;
    margin-bottom: -3em;
    margin-top: 2em;
    padding: 1em;
    background: #00B5AA;
    color: #FFF;
}

div.footer a {
    text-decoration: underline;
    color: #FFF;
}

div.footer div {
    /*padding-top: .5em;*/
}

div.footer img {
    max-height: 1em;
    background-color: #fff;
    border-radius: 3px;
    margin-right: 3px;
}

div.footer a img {
    text-decoration: none;
}